*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
 --bckg-color-1: #1a1919;
 --bckg-color-2: #222222;
 --bckg-color-3: #3e3e3e;
 --bckg-color-4: #f5f5f7;
 --border-color-1: #393939;
 --color-main-1: #FFC000;
}

body{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
  display: inline-block;
}

.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-30{
  gap: 30px;
}

.button{
  background-color: var(--color-main-1);
  color: white;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 15px;
  transition: 0.5s;
}

.button:hover{
  background-color: var(--bckg-color-2);
  color: white;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 15px;
  transition: 0.5s;
}

/* Header part*/

.header-top-strip{
  border-bottom: 1px solid var(--border-color-1);
  background-color: var(--bckg-color-1);
}

.header-top-strip .row p{
  font-size: 12px;
}

.header-upper{
  background-color: var(--bckg-color-2);
}

.text-logo{
  font-family: 'Monserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  text-decoration: none;
  color: var(--color-main-1);
}

.header-upper .input-group-text{
  background-color: var(--color-main-1);
}

.header-upper .header-uuper-links img{
  width: 35px;
  height: 35px;
}

.header-bottom{
  background-color: var(--bckg-color-3);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--bckg-color-1);
  width: 100%;
  transform: translate3d(0px, 50px, 0px) !important;
}

.header-bottom .dropdown-item{
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--border-color-1);
  font-size: 14px;
}

.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-main-1) !important;
}

/* Header part end here */



/* Footer part*/
footer {
  background-color: var(--bckg-color-2);
}

footer:not(:first-child){
  border-top: 1px solid var(--border-color-1);
}

footer .input-group-text{
  background-color: var(--color-main-1);
  color: white;
  padding: 8px 17px;
}

/* Footer part end here */



/* Home wrapper 1*/
.main-banner-content{
  top:10%;
  left:5%;
}

.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p{
 font-size: 16px;
 line-height: 28px;
 letter-spacing: 0.4px;
}

.small-banner-content{
  top:15%;
  left:10%;
}

.small-banner-content h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5{
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p{
 font-size: 14px;
 line-height: 22px;
 letter-spacing: 0.4px;
}

.small-banner{
  width: 49%;
}
/* Home wrapper 1 ends*/

/* Home wrapper 2*/
.home-wrapper-2{
  background-color: var(--bckg-color-4 );
  padding-right: 3%;
  padding-left: 3%;
}

/* Home wrapper 2 ends*/



