*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
 --bckg-color-1: #1a1919;
 --bckg-color-2: #222222;
 --bckg-color-3: #3e3e3e;
 --bckg-color-4: #f5f5f7;
 --border-color-1: #393939;
 --color-main-1: #FFC000;
 --color-text-1: #777777;
 --color-text-2: #131921;
 --color-hover-1: #f8c839;
 --color-form-1: #dedede;
}

body{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
}

a{
  text-decoration: none;
  display: inline-block;
}

.form-control:focus{
  box-shadow: none;
  border-color: inherit;
}


.gap-5{
  gap: 5px;
}

.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-30{
  gap: 30px;
}


.button{
  background-color: var(--color-main-1);
  color: var(--color-text-1);
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 15px;
  transition: 0.5s;
  border-color: transparent;
}

.button:hover{
  background-color: var(--bckg-color-2);
  color: white;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 15px;
  transition: 0.5s;
}
.card_wrapper{
  background-color: var(--bckg-color-4);
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.section-heading{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}

.section-heading-2{
  font-size: 16px;
  margin-bottom: 50px;
  color: var(--color-text-1);
}




/* Header part*/

.header-uuper-links .logout{
  font-size: 14px;
  color: var(--color-main-1);
}
.header-top-strip{
  border-bottom: 1px solid var(--border-color-1);
  background-color: var(--bckg-color-1);
}

.header-top-strip .row .header-top-p{
  font-size: 12px;
}

.header-upper{
  background-color: var(--bckg-color-2);
}

.text-logo{
  font-family: 'Monserrat', sans-serif;
  font-weight: 700;
  font-size: 55px;
  text-decoration: none;
  color: var(--color-main-1);
}

.header-upper .input-group-text{
  background-color: var(--color-main-1);
}

.header-upper .header-uuper-links img{
  width: 35px;
  height: 35px;
}

.header-bottom{
  background-color: var(--bckg-color-3);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: .3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--bckg-color-1);
  width: 100%;
  transform: translate3d(0px, 50px, 0px) !important;
}

.header-bottom .dropdown-item{
  padding: 10px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--border-color-1);
  font-size: 14px;
}

.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-main-1) !important;
}

/* Header part end here */



/* Footer part*/
footer {
  background-color: var(--bckg-color-2);
}

footer:not(:first-child){
  border-top: 1px solid var(--border-color-1);
}

footer .input-group-text{
  background-color: var(--color-main-1);
  color: white;
  padding: 8px 17px;
}

/* Footer part end here */



/* Home wrapper 1*/
.main-banner-content{
  top:10%;
  left:5%;
}

.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 36px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p{
 font-size: 16px;
 line-height: 28px;
 letter-spacing: 0.4px;
}

.small-banner-content{
  top:15%;
  left:10%;
}

.small-banner-content h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5{
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -2px;
  text-transform: none;
}

.small-banner-content p{
 font-size: 14px;
 line-height: 22px;
 letter-spacing: 0.4px;
}

.small-banner{
  width: 49%;
}
/* Home wrapper 1 ends*/

/* Home wrapper 2*/
.home-wrapper-2{
  background-color: var(--bckg-color-4 );
  padding-right: 3%;
  padding-left: 3%;
}

/* Home wrapper 2 ends*/

/* Home wrapper 3 marquee*/
.marque-wrapper-3 .marquee-inner-wrapper .marquee-div img{
  box-sizing: inherit;
  vertical-align: baseline;
  padding-inline: 15px;

}
/* Home wrapper 3 marquee ends here*/


/* Home blogcard 4 */
.blog-card{
  background-color: white;
  border-radius: 10px;
}

.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content{
  padding: 15px;
}

.blog-content .blog-date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-text-1);
}

.blog-content h5{
  font-size: 18px;
  color: var(--color-text-2);
}

.blog-content .blog-desc{
  height: 80px;
  font-size: 13px;
  font-weight: 22px;
  padding-top: 10px;
  color: var(--color-text-1);
  word-break:break-all;
  overflow: hidden;
}


.single-blog-card h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--color-text-2);
}

.single-blog-card a{
  font-size: 15px;
  color: var(--color-text-1);
  margin-bottom: 20px;
}

.single-blog-card p{
  color: var(--color-text-1);
}



/* Home blogcard 4 ends here */


/* Home Productcard 4 */
.product-card{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.product-card:hover .action-bar{
  right: 15px;
}

.product-card .product-brand{
  color: var(--color-main-1);
}

.product-card .product-reference{
  font-size: 15px;
  color: var(--color-text-2);
}

.product-card .product-price{
  font-size: 16px;
  color: var(--color-text-2);
}

.action-bar{
  top:21%;
  right: -24px;
  color: transparent;
  transition: 0.3s;
}

.product-card .short-description{
  font-size: 13px;
  color: var(--color-text-1);
  margin-right: 40px;
}

.action-bar img:hover,
.product-whislist img:hover{
  background-color: var(--color-hover-1);
  border-radius: 50%;
  transition: 0.s;
  transition: 0.4s;
}

.product-whislist{
  top:7%;
  right: 15px; 
}


/* Home Productcard 4  ends here*/


/* Home Productcard especial*/

.special-product-card{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

.special-product-card img{
  width: 255px;
  height: 130px;  
}

.product-price strike{
  color:red;
}
/* Home Productcard especial  ends here*/


/* BreadCrumb */

.text-breadcrumb{
  color: var(--color-text-1);
  text-decoration: none;
}

/* BreadCrumb ends here*/



/* Store */

.filter-card{
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}

.filter-title{
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-text-2);
}

.filter-card .form-check{
  list-style-type: none;
  font-size: 13px;
  color: var(--color-text-1);
  cursor: pointer;
}

.filter-subtitle{
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-2);
  margin-bottom: 15px;
  margin-top: 15px;
}


.filter-card .form-check-input:focus{
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card .form-check-input:checked{
  background-color: var(--color-hover-1);
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-price{
  font-size: 10px;
}

.colors{
  list-style-type: none;
}

.colors li{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}

.filter-card span{
  background-color: rgba(205, 205, 205, 0.297);
}

.filter-sort-grid{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.grid img{
  width: 35px;
  height: 35px;
  padding: 8px;
  border-radius: 3px;
  background-color: rgba(205, 205, 205, 0.297);
  cursor: pointer;
}

.totalProducts{
  color: var(--color-text-1);
}

.gr-4{
  width: 32%;
}

.gr-3{
  width: 24%;
}
/*--*/
.gr-12{
  width: 100%;
}

.gr-12 .product-card{
  display: flex;
  gap: 20px;
}

.gr-12 .product-card .product-img{
  width: 270px;
}

.gr-12 .action-bar{
  top:32%;
}
/*--*/

.gr-6{
  width: 49.484%;
}

.gr-6 .product-img{
  width: 100%;
}

.gr-6 .product-img img{
  margin: auto;
  display: block;
}

/* Store ends here*/


/* Contact*/

.contact-wrapper{
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}

.contact-wrapper > div {
  width: 80%;
}

.contact-title{
  font-size: 24px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
  margin-top: 0;
}

.contact-wrapper form .form-control{
  background-color: var(--bckg-color-4);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}

.contact-wrapper ul{
  list-style-type: none;
}

.contact-wrapper a,
.contact-wrapper ul{
  text-decoration: none;
  color: var(--color-text-1);

}

.contact-wrapper .text-logo{
  color: var(--color-main-1);
  font-size: 40px;
}
/* Contact ends here*/



/* wishlist*/

.wishlist-card .cross{
  top:12px;
  right: 10px;
  width: 25px;
  padding: 3px;
  cursor: pointer;
}
/* wishlist ends here*/


/* Login*/

.login-card{
  padding: 20px;
  background-color: white;
  width: 400px;
  margin: 30px auto;
  border-radius: 10px;
}

.login-card h3{
  font-size: 19px;
  font-weight: 500;
  color: var(--color-text-1);
}

.login-card .form-control{
  height: 50px;
  background-color: var(--bckg-color-4);
  font-size: 14px;
  border-radius: 10px;
  border-color: transparent;
} 


.login-card .pass{
  color: var(--color-text-1);
  font-weight: 500;
}

.login-card .signup:hover{
  background-color: var(--color-main-1);
  color: white;
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 15px;
  transition: 0.5s;
  border-color: transparent;
}

.login-card .signup{
  background-color: var(--bckg-color-2);
  color: white;
  transition: 0.5s;
}

.text-login-1{
  color: var(--color-text-1);
}
/* Login ends here*/


/* signup*/
.instructions {
  font-size: 12px;
  border-radius: 0.5rem;
  background: var(--bckg-color-3);
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
}

.line {
  display: inline-block;
}

.login-wrapper .form-control {
  background: var(--color-form-1);
}

.login-wrapper h6{
  font-size: 13px;
  color: var(--color-text-1);
}

.login-wrapper .alert-signup{
  border: 10%;
}

.login-wrapper .success{
  font-size: 24px;
  text-align: center;
  margin: 2% 4% 1% 4% ;
  color: var(--color-text-2);
} 

.login-wrapper .form-date{
  color: var(--color-text-1);
  cursor: pointer;
}

.icon{
  cursor: pointer;
}

/* signup ends here*/